.generate {
  all: unset;
  background: white;
  padding: 5px 8px;
  border: 1px solid rgba(189, 195, 199, 1);
  cursor: pointer;

  &:hover {
    background: rgba(189, 195, 199, 1);
    color: white;
  }
}
