.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 2.5rem;
  width: 90%;
  background: white;
  border: 2px solid #ecf0f1;

  &:focus-within {
    border: 2px solid rgba(52, 152, 219, 1);
  }

  .input {
    all: unset;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
